# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
dist/
*.egg-info/
.eggs/

# Virtual environments
.venv/
venv/
ENV/

# Streamlit
.streamlit/

# Environment variables
.env

# Data
data/*.jsonl

# OS
.DS_Store
Thumbs.db
